.Container{
    width:20%;
    border-radius: 5%;
    background-color: #F2F3F5;
  
}


.Content{
    display:flex;
    flex-Direction:column;
    gap:40px
}

.dashContent{
    padding-left: 5%;
}

.heading{
    padding:5%
}

.logout{
   display:flex;
   justify-Content:center;
   margin-Top:50%
}

.btn{
background-Color:black;
color:white;
border-Radius:10px;
width:60%;
padding:10px
}

@media (max-width:480px) {
    .dashContent{
       font-size: 10px;
    }

    .Container{
      border-radius: 0;
      width:25%
    }

    .heading{
        font-size: 10px;
    }

    .btn{
       width:100%;
        padding: 5px 10px
        }
}